@charset "utf-8";
    #header {
      height: 100%;
      width: 100%;
      position: relative;
      background-image: none;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }

    #logo {
      height: 400px;
      width: 700px;
      top: 0;
      right: 0;
      bottom: 100;
      left: 0;
      margin: auto;
      position: absolute;
    }

    #logo img {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      position: absolute;
    }

    #menu {
      top: 490;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
    }

    .menubar {
      width: 800px;
      margin: auto;
      padding-left: 0;
    }

    .menubar li {
      list-style: none;
      float: left;
      width: 200px;
      margin: 0;
      padding: 0;
    }

    .menubar a {
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      display: block;
      padding: 20px 0px;
      width: 100%;
    }

    footer {
      height: 50px;
      width: 100%;
      padding-top: 20px;
      text-align: center;
    }
