@charset "utf-8";
    #header {
      height: 100%;
      width: 100%;
      position: relative;
    }

    #logo {
      height: 400px;
      width: 700px;
      top: 0;
      right: 0;
      bottom: 100;
      left: 0;
      margin: auto;
      position: absolute;
    }

    #menu {
      width: 800px;
      top: 490;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      position: absolute;
    }

    #menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    #menu li {
      float: left;
      width: 200px;
      margin: 0;
      padding: 0;
    }

    #menu a {
      text-decoration: none;
      text-align: center;
      display: block;
      padding: 20px 0px;
      width: 100%;
    }

    #content_photo {
      height: 2000px;
      width: 1080px;
      margin-left: auto;
      margin-right: auto;
    }

    footer {
      height: 50px;
      width: 100%;
      text-align: center;
    }
