@charset "utf-8";
    body {
      background-image: url(../img/back_01.jpg);
      background-repeat: repeat;
      background-color: #153044;
    }

    .container {
      background-color: none;
    }

    #header {
      background-color: none;
    }

    #logo {
      background-color: none;
    }

    .menubar a {
      background-color: none;
    }

    .menu_01 {
      color: #6ec4db;
    }

    .menu_02 {
      color: #fa7c92;
    }

    .menu_03 {
      color: #fbe971;
    }

    .menu_04 {
      color: #66ab8c;
    }

    .menubar a:hover {
    background-color: none;
    color: #d7d7d7;
    }

    #content_making {
      background-color: none;
      color: #6ec4db;
    }

    #makeicon {
      background-color: #6ec4db;
    }

    #content_photo {
      background-color: none;
    }

    #content_illust {
      background-color: none;
    }

    #content_photo .icon_01 {
      background-color: #fa7c92;
    }

    #content_illust .icon_01 {
      background-color: #fbe971;
    }

    #content_profile {
      background-color: none;
      color: #66ab8c;
    }

    #content_profile img {
      background-color: #66ab8c;
    }

    footer {
      background-color: none;
      color: #343636;
    }
