@charset "utf-8";
    body {
      background-color: #fff;
    }

    .container {
      background-color: none;
    }

    #header {
      background-color: none;
    }

    #logo {
      background-color: none;
    }

    .menubar a {
      background-color: none;
      color: #3e3e3e;
    }

    .menubar a:hover {
    background-color: none;
    color: #656565;
    }

    #content_making {
      background-color: none;
      color: #56a764;
    }

    #makeicon {
      background-color: #56a764;
    }

    #content_photo {
      background-color: none;
    }

    #content_illust {
      background-color: none;
    }

    .icon_01 {
      background-color: none;
    }

    #content_profile {
      background-color: none;
      color: #56a764;
    }

    #content_profile img {
      background-color: #56a764;
    }

    footer {
      background-color: none;
      color: #56a764;
    }
