@charset "utf-8";
    body {
      background-color: #153044;
    }

    .container {
      background-color: none;
    }

    #header {
      background-image: url(../img/back_h_02.jpg);
      background-repeat: repeat;
      background-color: none;
    }

    #logo {
      background-color: none;
    }

    .menubar a {
      background-color: none;
      color: #022155;
    }

    .menubar a:hover {
    background-color: none;
    color: #61ffff;
    }

    #content_making {
      background-color: none;
      color: #d6f4f4;
    }

    #makeicon {
      background-color: #d6f4f4;
    }

    #content_photo {
      background-color: none;
    }

    #content_illust {
      background-color: none;
    }

    .icon_01 {
      background-color: none;
    }

    #content_profile {
      background-color: none;
      color: #d6f4f4;
    }

    #content_profile img {
      background-color: #d6f4f4;
    }

    footer {
      background-color: none;
      color: #d6f4f4;
    }
