@charset "utf-8";
    #content_photo {
      height: 600px;
      width: 1040px;
      padding: 20px;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
    }

    #content_illust {
      height: 600px;
      width: 1040px;
      padding: 20px;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
    }

    #content_photo a {
      text-decoration: none;
      margin: 3px;
    }

    #content_photo img {
      border-radius: 20px 3px;
    }

    #smallimg {
      height: 195px;
      width: 195px;
      margin: 3px 6px;
      position: relative;
      float: left;
    }

    .icon {
      font-size: 28px;
      font-weight: bolder;
      line-height: 195px;
      vertical-align: middle;
      text-align: center;
    }

    #smallimg a {
      text-decoration: none;
    }

    #smallimg img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      border-radius: 20px 3px;
    }
